<section data-ng-controller="HomeController">
	<div class="row main-row">
		<div class="col-md-2 left-sidebar">
			<div class="categories">
				<ul>
					<li><strong>ALL CATEGORIES</strong></li>
					<li>SKIN CARE</li>
					<li>MAKEUP</li>
				</ul>
			</div>
			<div class="brand-names">
				<ul>
					<li><strong>BRANDS</strong></li>
					<li>Aritaum</li>
					<li>Clio</li>
					<li>Goodall</li>
					<li>Laneige</li>
					<li>Missha</li>
					<li>Tonymoly</li>
					<li>Innisfree</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9 middle-section" data-ng-controller="ItemsController" data-ng-init="find()">
			<div data-ng-repeat="item in items" data-ng-href="#!/items/{{item._id}}" class="item-block col-md-3">
				<div class="item-brand">{{ item.brand }}</div>
				<div class="item-short-description">{{ item.short_description }}</div>
				<div class="item-price">${{ item.price }}</div>
			</div>
		</div>
		<div class="col-md-1 right-section">
			<strong>FILTER</strong>
		</div>
	</div>
</section>
