<section data-ng-controller="ItemsController">
	<div class="page-header">
		<h1>New Item</h1>
	</div>
	<div class="col-md-12">
		<form name="itemForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': itemForm.brand.$dirty && itemForm.brand.$invalid }">
					<label class="control-label" for="brand">Brand</label>
					<div class="controls">
						<input name="brand" type="text" data-ng-model="brand" id="brand" class="form-control" placeholder="Brand" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="category1">category1</label>
					<div class="controls">
						<input name="category1" type="text" data-ng-model="category1" id="category1" class="form-control" placeholder="category1" required>
					</div>
					<label class="control-label" for="category2">category2</label>
					<div class="controls">
						<input name="category2" type="text" data-ng-model="category2" id="category2" class="form-control" placeholder="category2" required>
					</div>
					<label class="control-label" for="short_description">short_description</label>
					<div class="controls">
						<input name="short_description" type="text" data-ng-model="short_description" id="short_description" class="form-control" placeholder="This is a good soothing cream product" required>
					</div>
					<label class="control-label" for="long_description">long_description</label>
					<div class="controls">
						<input name="long_description" type="text" data-ng-model="long_description" id="long_description" class="form-control" placeholder="It has 80% mineral 20% water. It is very popular in Korea. blah blah" required>
					</div>
					<label class="control-label" for="price">price</label>
					<div class="controls">
						<input name="price" type="text" data-ng-model="price" id="price" class="form-control" placeholder="10" required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>